.entry-form {
  margin-bottom: 70px;
}

.entry-form h3 {
  font-size: 1.1em;
}

.entry-date-container {
  margin-top: 15px;
}

.mood-radio {
  margin: 15px;
}

.entry-radio-container {
  width: 120px;
  text-align: left;
}

.entry-radio-label {
  cursor: pointer;
  display: block;
}

.entry-textarea {
  border: 3px solid black;
  border-radius: 10px;
  margin: 15px;
}