* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  outline: none;
}

body {
  font-family: 'Arima Madurai';
  height: 100vh;
}

h1 {
  text-decoration: underline;
  margin: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.checkbox-container {
  width: 120px;
  text-align: left;
  display: block;
  margin: 15px 0;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-label {
  cursor: pointer;
}

.main-container {
  max-width: 800px;
  min-height: 400px;
  padding: 30px;
  background-color: lightyellow;
  box-shadow: 5px 5px 10px grey;
}

.text-input {
  display: block;
  margin: 20px;
}