.navbar-container {
  align-items: center;
  background-color: pink;
  bottom: 0;
  display: grid;
  grid-template-areas: 'entries new settings logout';
  height: 50px;
  justify-items: center;
  position: fixed;
  width: 100%;
}

.navbar-entries {
  grid-area: 'entries';
}

.navbar-logout {
  grid-area: 'logout';
}

.navbar-new {
  grid-area: 'new';
}

.navbar-settings {
  grid-area: 'settings';
}

.navbar-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  height: 45px;
  text-align: center;
  width: 70px;
}

.whitespace {
  margin-top: 100px;
}