.login-register-btn {
  margin: 30px;
}

.login-register-heading {
  font-size: 2.2rem;
  margin-bottom: 70px;
}

.login-register-hr {
  color: #d3d3d3;
  width: 80%;
}

.login-register-mailing-list {
  margin-top: 20px;
}

.login-register-main-container {
  background-color: #ffffe0;
  box-shadow: 5px 5px 10px grey;
  height: 500px;
  max-width: 300px;
  padding-top: 1rem;
  margin-top: 2rem;
}